#root {
  background: #ffd89b;
  background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
  background: linear-gradient(to right, #19547b, #ffd89b);
}

.sliderContainer {
  display:flex;
  padding: 24px;
}

.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controllsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px 300px;
}

.volbox {
  margin:24px;
  height: 511px;
  width: 136px;
  background-image: url(/mixer.png);
  transform: scale(0.7);
  position: relative;
  display: flex;
  justify-content: center;
}

.volbox .slider-title {
  font-family: 'Reenie Beanie', cursive;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  bottom: -50px;
  position: absolute;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 515px;
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  position: absolute;
  top: 235px;
  right: -200px;
  background: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 21px;
  background: none;
}
input[type=range]::-webkit-slider-thumb {
  height: 64px;
  width: 94px;
  background-image: url(/thumb.png);
  background-position: -132px -147px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -24px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  background: none;
}

input[type=range]::-moz-range-thumb {
  height: 64px;
  width: 94px;
  background-image: url(/thumb.png);
  background-position: -132px -147px;
  cursor: pointer;
  margin-top: -24px;
}

input[type=range]::-moz-focus-inner {
  border: 0;
}

#video {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 1139px;
  object-fit: cover;
  z-index: -1;
}

.authors {
  justify-content: space-evenly!important;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author h3 {
  color: white;
}

.author p {
  color: white;
}

.author img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 90px;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.2s ease;
  font-family: sans-serif;
  background: #888;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  display: inline-block;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
  background: #888;
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  background: #86d993;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}

.scoreModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scoreModal .scoreIcon {
  width: 60px;
  height: 60px;
}